NEO4J_URI=neo4j+s://your_neo4j_uri
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password

GEMINI_API_KEY=your_gemini_key

GROQ_API_KEY_1=your_groq_key_1
GROQ_API_KEY_2=your_groq_key_2
GROQ_API_KEY_3=your_groq_key_3
GROQ_API_KEY_4=your_groq_key_4

GEMINI_API_KEY_1=your_gemini_key_1
GEMINI_API_KEY_2=your_gemini_key_2
GEMINI_API_KEY_3=your_gemini_key_3
GEMINI_API_KEY_4=your_gemini_key_4
